#contact{
    margin: 60px;
    color: #333;
}

.contact-us-main{
    display: flex;
    gap: 20px;
}

.contact-us-main-left h1{
    border-left: 5px solid black;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}

.form-input{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 21px;
    padding: 14px 14px 10px;
    display: inline-block;
    background-color: #fff;
}

.form-input-select{
    margin-bottom: 15px;
    padding: 0 0 29px;
    height: 20px;
}

.form-input-select label{
    float: left;
    font-size: 13px;
    height: 29px;
    line-height: 28px;
}

.form-input-select strong{
    font-weight: bold;
}

.form-input-select select{
    border-color: #ddd;
    float: right;
    width: 210px;
    font-size: 13px;
    height: 29px;
    line-height: 28px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    margin: 0;
    transition: border .2s linear .2s, box-shadow .2s linear .2s;
    margin-left: 10px;
}

.form-input-content{
    margin-bottom: 15px;
    display: flex;
}

.form-input-content-left{
    float: left;
    text-align: right;
    width: 105px;
    padding-right: 5px;
}

.form-input-content-left label{
    border-color: #ddd;
    font-size: 13px;
    line-height: 28px;
    margin: 0;
    padding: 0 5px;
    resize: none;
}

.form-input-conten-right{
    float: right;
    width: 290px;
}

.form-input-conten-right input{
    font-size: 13px;
    height: 28px;
    width: 280px;
}

.form-input-conten-right textarea{
    height: 100px;
    line-height: 18px;
    font-size: 13px;
    padding: 5px;
    width: 270px;
}

.button-input-submit button{
    background-color: #4197ee;
    border: 1px solid #2d83d8;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px -1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    width: 435px;
    cursor: pointer;
}

.contact-us-main-right{
    color: #444;
    border-top: 3px solid #444;
    padding: 15px 0;
}

.contact-us-main-right h3{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-us-main-right-info p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    gap: 5px;
}

.contact-us-main-right-info p span{
    color: #f60;
    font-weight: bold;
}

.contact-us-main-right-address{
    margin-top: 10px;
}

.company-name{
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.company-address p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}

.contact-us-main-right-address{
    display: flex;
    gap: 5px;
}